<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * *Title: about.component.html -->
<!--* Author: Chris Bohnet -->
<!-- * Date: 12 July 2020 -->
<!-- * Description: about component -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="about-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Johann Sebastian Bach</h3>
      <br>
    </div>
  </div>

<div role="main" class="container">


<br>
  <div class="row">
    <div class="col-sm-4">
        <img src="../assets/bach.jpg">
    </div>
    <div class="col-sm-8">
<p>Johann Sebastian Bach was a German composer and organist of the Baroque period. His contemporaries admired him for his
  talent as a musician but thought his compositions were old-fashioned. A rediscovery of his work in the early 19th century
  led to the so-called Bach revival, in which he came to be seen as one of the greatest composers of all time.
  His most-celebrated compositions include Brandenburg Concertos, The Well-Tempered Clavier, BWV 846–893,
  Suites for Unaccompanied Cello, BWV 1007–1012, Orchestral Suites, BWV 1066–1069, and Mass in B Minor, BWV 232.
  <em class="apa-reference"><a href="https://www.britannica.com/list/10-classical-music-composers-to-know" target="_blank">Source</a></em></p>
    </div>
  </div>
</div>
</div>
