<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>123 Main street</p>
      <p>Omaha, Nebraska</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 402-123-1234</p>
      <p>Toll-free: 1-888-123-1234</p>
      <p>Fax: 402-123-1234</p>
    </mat-card-content>
  </div>
</div>
