<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * *Title: contact.component.html -->
<!--* Author: Chris Bohnet -->
<!-- * Date: 12 July 2020 -->
<!-- * Description: contact component -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="fas fa-location-arrow text-secondary"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">10 Composer Circle</li>
            <li class="list-group-item border-0">Mozart, Nebraska 68005</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i></h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Direct: 555-123-1234</li>
              <li class="list-group-item border-0">Toll-free: 1-800-123-1234</li>
              <li class="list-group-item border-0">Fax: 555-123-1234</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
